<div id="showMovie">
<div class="row flex-row">
    <div class="col-md-12">
        <img src="{{ baseUrlImages ~ movie.poster_path }}" class="img-rounded"
             alt="{{ movie.title }}">
    </div>
</div>
<div class="row flex-row">
    <div class="col-md-12">
        <strong> {{ movie.title }}</strong><br>
        Film {{ movie.title }} {{ movie.vote_average }} pour {{ movie.vote_count }} utilisateurs<br>
    </div>
</div>
</div>

